# Primary Google API key (required)
GOOGLE_API_KEY=your_google_api_key_here
# GOOGLE_API_KEY_2=your_second_key_here
# GOOGLE_API_KEY_3=your_third_key_here
# GOOGLE_API_KEY_4=your_third_key_here

GOOGLE_CX=your_google_cx_here
